.auth-wrapper {
  width: 420px;
  max-width: 420px;
  
  padding: 30px 40px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 30px;
}