.profile-slider {
  overflow: hidden;
}

.profile-slider_slide {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--main-radius);
  filter: var(--shadow);
}


@media (max-width: 600px) {
  .profile-slider {
    align-items: center;
  }
}