.home-header__list_item {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.home-header__list_link {
  color: var(--dark);
  transition: all ease-in 0.3s;
}

@media (hover: hover) {
  .home-header__list_link:hover {
    color: var(--purple);
  }
}

@media (max-width: 768px) {
  .home-header__list {
    flex-direction: column;
  }
}