.home-concept {
  margin-top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
  
  padding-right: 10%;
}

.home-concept__bg {
  width: 50%;
  height: 100%;
}

.home-concept__bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-concept__text_title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 83px;
  color: var(--yellow);
}

.home-concept__text_heading {
  max-width: 545px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: var(--purple);
}

.home-concept__text_text {
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 565px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 115.5%;
  color: var(--dark);
}

@media (max-width: 768px) {
  .home-concept__text_title {
    font-size: 40px;
    line-height: 54px;
  }
  
  .home-concept__text_heading {
    font-size: 30px;
    line-height: 41px;
  }
  
  .home-concept__text_text {
    font-size: 16px;
  }
}

@media (max-width: 428px) {
  .home-concept {    
    padding: 0 10%;
  }
  
  .home-concept__bg {
    display: none;
  }
}