.CompletedOption {
  width: 24px;
  height: 24px;
  
  border-radius: 50%;
  border: 1px solid var(--purple);
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.CompletedOption[data-completed="true"] {
  background-color: var(--purple);
  border: none;
}