.home-about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#home-about__text {
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 410px;
}

.home-about__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1028px) {
  .home-about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}