.player-sidebar__list_link {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color:  var(--grey);
}

.player-sidebar__list_link.active {
  font-weight: 500;
  color: var(--purple);
}