.sidebar {
  width: 200px;
  height: 100vh;
  padding: 25px;
  
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  
  background-color: var(--white);
  border-right: var(--border)
}

@media (max-width: 768px) {
  .sidebar {
    top: 70px;
    height: calc(100vh - 70px);
    transform: translateX(-300px);
    transition: all ease-in 0.3s;
  }
  .sidebar[data-burger="true"] {
    transform: translateX(0);
  }
  .sidebar__logo {
    display: none;
  }
}